// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


$theme-colors: (
  "primary": #cf78e0,
  "secondary": #64f9b3,
  "success": #63db3e,
  "danger": #cf4a3e,
  "info": #e6d693,
  "warning": #212063,
  "dark": #1e2124,
);
