// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
